{% extends "layout.html" %}

{% block title %}مجتمع متعلمي التجويد | موقع قواعد التجويد{% endblock %}

{% block head %}
    <meta name="description" content="انضم إلى مجتمع متعلمي وقارئي القرآن لتبادل الخبرات في أحكام التجويد، طرح الأسئلة، مشاركة الموارد النافعة، وبناء رحلة ثابتة لتحسين التلاوة خطوة بخطوة.">
    <link rel="canonical" href="{{ request.url }}">
{% endblock %}

{% block content %}
<section class="hero">
    <h1>المجتمع</h1>
    <p>انضم إلى مجتمع قواعد التجويد لمشاركة المعرفة والتعلم معاً.</p>
    <a class="btn" href="{{ url_for('index') }}">العودة للرئيسية</a>
</section>
<section class="hero">
    <p>مواقع اخرى نافعة باذن الله </p>
    <ul>
        <li><a class = "btn" href="https://islamweb.net/ar/">موقع إسلام ويب</a></li>
        <li><a class= "btn" href="https://quran.com/ar">موقع القرآن الكريم</a></li>
        <li><a class="btn" href="https://tajweed.ai/">موقع تجويد AI</a></li>
    </ul>
</section>
{% endblock %}
